<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      window.PBURL = "<%= image_url('PBIcon.png') %>";
    </script>
    <script type="text/javascript">
      window.YUI = "<%= image_url('yui404.gif') %>";
    </script>
    <script type="text/javascript">
      window.PBBig = "<%= image_url('PBWhiteBg.png') %>";
    </script>
    <script type="text/javascript">
      window.Yacht = "<%= image_url('yachtzee.jpg')%>";
    </script>
    <script src="node_modules/colorthief/dist/color-thief.umd.js"></script>
    <script type="text/javascript">
      window.Play = "<%= image_url('play.png')%>";
    </script>


    <title>Vaporize</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
   
  </head>

  <body>
    <%= yield %>
  </body>
</html>
